/* Box Model Hack */
* {
     box-sizing: border-box;
}

html {
     font-size: 62.5%;
     text-align: center;
}

#gameboard {
     max-width: 60rem;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(3,1fr);
     row-gap: 2rem;
     column-gap: 2rem;
}

.block {
     width: 100%;
     background: lightblue;
}

.block:after {
     content: "";
     display: block;
     padding-bottom: 100%;
   }